<p>
    <h1> All users</h1>
    {{!-- {{#each userData }}
    <li>{{ name }}</li>
    {{/each}} --}}
    <style>
        table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>City</th>
        <th>Phone</th>
        <th>Website</th>
    </tr>
    {{#each data}}
    <tr>
        https://pastebin.com/wt9mxiTd
        <td> {{ name }} </td>
        <td> {{ email }}</td>
        <td> 
            {{#with address }}
            {{ city }}
            {{/with}}
        </td>
        <td> {{ phone }} </td>
        <td> {{ website }} </td>
    </tr>
    {{/each}}
</table>

</p>

